body{
      font-family: "Plus Jakarta Sans", sans-serif !important;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}
.container{
flex: 1;

}
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important;
 }
 /*footer*/
 .f-info-links a
 {
text-decoration: none;
color: #222222;
 }
 .f-info-links a:hover
 {
text-decoration: underline;
 }
 .f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .f-info-socials i{
    font-size: 1.2rem;
 margin-right: 1rem;
 }
 .f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
 }
 /*cards*/
 .listing-card{
    border: none !important;
    margin-bottom: 2rem;
 }
 .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
 }
 .card-body{
    padding: 0 !important;
 }
 .card-text p{
    font-weight: 400 !important;
 }
 .listing-link{
    text-decoration: none;
 }
 /* Card Effect */
 .card-img-overlay{
    opacity: 0;
 }
 .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
 }
 .add-btn{
    background-color: #fe424d !important;
    border: none !important;
 }
 /*Edit page*/
 .edit-btn{
    background-color: #fe424d !important;
    border: none !important;
 }
 /*show page*/
 .show-img{
    height: 30vh;
 }
 .btns{
    display: flex;
 }
 .show-card{
    padding-left: 0;
    padding-right: 0;
 }
 /* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  moz-appearance: textfield;
}

/*MAP*/
#map {
   height: 400px;
   width: 80vh;
}
/* Remove default MapTiler popup background */
.maplibregl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}

/* Hide the white arrow under popup */
.maplibregl-popup-tip {
  display: none !important;
}

/* Optional fade-in effect */
.maplibregl-popup-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.maplibregl-popup.maplibregl-popup-anchor-bottom .maplibregl-popup-content {
  opacity: 1;
}

